@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #121212;
  --muted-foreground: #6f6f6f;

  --border: #e0e0e0;

  --primary: #c7372f;
  --primary-foreground: #ffffff;

  --error: #dc2626;
  --error-background: #fef2f2;
  --error-border: #fecaca;
}

.dark {
  --background: #121212;
  --foreground: #fafafa;
  --muted-foreground: #9a9a9a;

  --border: #2a2a2a;

  --error: #f87171;
  --error-background: #1a0f0f;
  --error-border: #3f1f1f;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-error: var(--error);
  --color-error-background: var(--error-background);
  --color-error-border: var(--error-border);
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background) inset;
  -webkit-text-fill-color: var(--color-foreground);
}

html,
body,
#root {
  height: 100%;
}
